.prev-page {
    color:#0da39a;
}

.custom-btn{
    background-color: #0da39a;
    color:white;
}

.custom-btn:hover{
    background-color: #087d75;
}

.border-secondary{
    border-color:#0da39a !important;
}
.input-group{
    margin-bottom: 15px;
}